.app {
  text-align: center;
}

.app__header {
  background-color: #222;
  /* height: 50px; */
  padding: 20px;
  color: white;
}

.app__page {
  margin: auto;
  max-width: 800px;
  border: 1px solid blue;
}
