button {
  /* font-size: 1em; */
  text-transform: uppercase;
  /* font-weight: bold; */
  /* border: 1px solid black; */
  /* background: #c8d6e5; */
  /* color: #c8d6e5; */
  /* line-height: 1em; */
  /* padding: 0.5rem 0.7rem; */
  /* transition: all 0.2s ease-in-out; */
  /* cursor: pointer; */
}

/* button:hover {
  background: #576574;
  color: white;
} */
